*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  .container{
    margin: 0 auto;
    max-width: 1440px;
  }
  body{
    overflow-x: hidden;
  }
  .nav-logo{
    display: flex;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom:30px;
  }
  
  .navbar-navigation{
    display: flex;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
    
  }
  .navbar{
    display: flex;
  }
  .home{
    padding-left: 402px;
    color: #292F36;
  }
  .page{
    padding-left: 50px;
    color: #292F36;
  }
  .ser{
    padding-left: 49px;
    color: #292F36;
  }
  .glass{
    margin-left: 30px;
    font-size: 21px;
    color: #141414;
  }
  #hambars{
    display: none;
  
  }
  /* nav section extra small responsiv starts */
@media(max-width:575.98px){
  .container{
      max-width:100%;
  }
  .nav-logo{
      display: flex;
      margin: 0px;
  }
  .navlogo-img{
      margin: 20px 0px 0px 15px;
      padding: 0px;
      height: 70px;
      width: 90px;
      padding-bottom: 30px;
  }
  .nav-logo h3{
      padding: 20px 0px 0px 15px;
      font-size: 28px;
  }
  .navbar-navigation{
      display: flex;
      flex-direction: column;
      margin: 80px 0px 0px 0px;
      font-size: 20px;
  }
  .navbar-navigation{
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      background-color: black;
      width: 100%;
      position:absolute ;
      top: 0%;
      left: -100%;
      transition: 500ms;
      z-index: 2;
    
  }
  .navbar-navigation li a{
    color: white;
  }
  .hamMenu{
      top: 0%;
      left:  0%;
      transition: 500ms;
      z-index: 2;
  }
  .navbar-navigation li{
      padding-top: 30px;
      font-size: 25px;
  }
  .navbar{
      display: flex;
  }
  .home{
      padding: 0px 0px;
  }
  .page{
      padding: 0px;
  }
  .ser{
      padding: 0px;
  }
  .glass{
      margin: 30px 0px;
      font-size: 21px;
  }
  #hambars{
      display: block;
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 20px;
  }
}


/* nav section extra small responsiv end */
/* nav section small responsiv starts */
@media(min-width:576px) and (max-width:767.98px){
  .container{
      max-width: 540px;
  }
  .nav-logo{
    display: flex;
    margin: 0px;
}
.navlogo-img{
    margin: 20px 0px 0px 15px;
    padding: 0px;
    height: 70px;
    width: 90px;
    padding-bottom: 30px;
}
.nav-logo h3{
    padding: 20px 0px 0px 15px;
    font-size: 28px;
}
.navbar-navigation{
    display: flex;
    flex-direction: column;
    margin: 80px 0px 0px 0px;
    font-size: 20px;
}
.navbar-navigation{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color:black;
    width: 100%;
    position:absolute ;
    top: 0%;
    left: -100%;
    transition: 500ms;
    z-index: 2;
  
}
.navbar-navigation li a{
    color: white;
  }
.hamMenu{
    top: 0%;
    left:  0%;
    transition: 500ms;
    z-index: 2;
}
.navbar-navigation li{
    padding-top: 30px;
    font-size: 25px;
}
.navbar{
    display: flex;
}
.home{
    padding: 0px 0px;
}
.page{
    padding: 0px;
}
.ser{
    padding: 0px;
}
.glass{
    margin: 30px 0px;
    font-size: 21px;
}
#hambars{
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
}
}
/* nav section  small responsiv end */

/* nav section medium responsiv start */ 
@media(min-width:768px) and (max-width:991.98px){
  .container{
   max-width: 720px;
  }
.nav-logo{
  display: flex;
  margin: 0px;
}
.navlogo-img{
  margin: 20px 0px 0px 15px;
  padding: 0px;
  height: 70px;
  width: 90px;
  padding-bottom: 30px;
}
.nav-logo h3{
  padding: 20px 0px 0px 15px;
  font-size: 28px;
}
.navbar-navigation{
  display: flex;
  flex-direction: column;
  margin: 80px 0px 0px 0px;
  font-size: 20px;
}
.navbar-navigation{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color:black;
  width: 100%;
  position:absolute ;
  top: 0%;
  left: -100%;
  transition: 500ms;
  z-index: 2;

}
.navbar-navigation li a{
    color: white;
  }
.hamMenu{
  top: 0%;
  left:  0%;
  transition: 500ms;
  z-index: 2;
}
.navbar-navigation li{
  padding-top: 30px;
  font-size: 25px;
}
.navbar{
  display: flex;
}
.home{
  padding: 0px 0px;
}
.page{
  padding: 0px;
}
.ser{
  padding: 0px;
}
.glass{
  margin: 30px 0px;
  font-size: 21px;
}
#hambars{
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
}
}

/* nav section medium responsiv end */
/* nav section large responsive starts */  
@media(min-width:992px) and (max-width:1199.98px){
  .container{
    max-width: 960px;
  }
  .nav-logo{
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom:30px;
  }
  
  .navbar-navigation{
    display: flex;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
    
  }
  .navbar{
    display: flex;
  }
  .home{
    padding-left: 200px;
    color: #292F36;
  }
  .page{
    padding-left: 20px;

    color: #292F36;
  }
  .ser{
    padding-left: 20px;
    color: #292F36;
  }
  .glass{
    margin-left: 20px;
    font-size: 21px;
    color: #141414;
  }
  #hambars{
    display: none;
  
  }
}
/* nav section extra large */
@media(min-width:1200px) and (max-width:1300px){
  .container{
    max-width:1140px;
    }
    .nav-logo{
      display: flex;
      margin-top: 10px;
      margin-left: 50px;
      margin-bottom:30px;
    }
    
    .navbar-navigation{
      display: flex;
      margin-top: 32px;
      font-size: 20px;
      font-weight: 500;
      
    }
    .navbar{
      display: flex;
    }
    .home{
      padding-left: 200px;
      color: #292F36;
    }
    .page{
      padding-left: 20px;
  
      color: #292F36;
    }
    .ser{
      padding-left: 20px;
      color: #292F36;
    }
    .glass{
      margin-left: 20px;
      font-size: 21px;
      color: #141414;
    }
    #hambars{
      display: none;
    
    }
    
  }


  .banner{
    height: 274px;
    width: 100%;
    background-image: url(../image/about-banner-img.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

  }
  .sec-contact-content h3{
    padding-top: 10px;
    font-size: 50px;
    font-weight:bold;
    padding-top: 200px;
  }
  .sec-contact-content h6{
    font-size: 30px;
    font-weight: bold;
    color:gray;
    padding-top: 30px;

  }
  .sec-contact-content p{
    font-size: 30px;
    font-weight: bold;
    color:orangered;
    padding-top: 30px;  
  }
  .contact-col{
    display: flex;

  }
  .map{
    padding-left: 300px;
    padding-top: 180px;
  }
  .contact-btn{
    height: 30px;
    width: 110px;
    background-color: chartreuse; 
    border-style: none;
    font-size: 20px;
    margin-top: 10px;

  }
  /* section contact responsive extra small */
@media(max-width:575.98px){
    .container{
      max-width: 100%;
    }
    .sec-contact-content h3{
        padding-top: 10px;
        font-size: 30px;
        font-weight:bold;
        padding-top: 200px;
      }
      .sec-contact-content h6{
        font-size: 20px;
        font-weight: bold;
        color:gray;
        padding-top: 30px;
    
      }
      .sec-contact-content p{
        font-size: 10px;
        font-weight: bold;
        color:orangered;
        padding-top: 30px;  
      }
      .contact-col{
        flex-direction: column;
    
      }
      .map{
        padding-left: 0px;
        padding-top: 180px;
      }
      .contact-btn{
        height: 30px;
        width: 110px;
        background-color: chartreuse; 
        border-style: none;
        font-size: 20px;
        margin-top: 10px;
      }
}
    /* section small responsive starts  */
@media(min-width:576px) and (max-width:767.98px){
    container{
      max-width: 540px;
    }
    .sec-contact-content h3{
        padding-top: 30px;
        font-size: 30px;
        font-weight:bold;
        padding-top: 200px;
      }
      .sec-contact-content h6{
        font-size: 20px;
        font-weight: bold;
        color:gray;
        padding-top: 30px;
    
      }
      .sec-contact-content p{
        font-size: 10px;
        font-weight: bold;
        color:orangered;
        padding-top: 30px;  
      }
      .contact-col{
        flex-direction: column;
    
      }
      .map{
        padding-left: 0px;
        padding-top: 180px;
      }
      .contact-btn{
        height: 30px;
        width: 110px;
        background-color: chartreuse; 
        border-style: none;
        font-size: 20px;
        margin-top: 10px;
    
      }
      
}
/* section contact medium responsive starts */  
@media(min-width:768px) and (max-width:991.98px){
   .container{
    max-width: 720px;
   }
    .sec-contact-content h3{
        padding-top: 10px;
        font-size: 50px;
        font-weight:bold;
        padding-top: 200px;
      }
      .sec-contact-content h6{
        font-size: 30px;
        font-weight: bold;
        color:gray;
        padding-top: 30px;
    
      }
      .sec-contact-content p{
        font-size: 30px;
        font-weight: bold;
        color:orangered;
        padding-top: 30px;  
      }
      .contact-col{
        flex-direction: column;
    
      }
      .map{
        padding-left: 0px;
        padding-top: 180px;
      }
      .contact-btn{
        height: 30px;
        width: 110px;
        background-color: chartreuse; 
        border-style: none;
        font-size: 20px;
        margin-top: 10px;
   }
}
/* section contact large responsive starts   */
@media(min-width:992px) and (max-width:1199.98px){
  container{
    max-width: 960px;
  }
  .sec-contact-content h3{
    padding-top: 10px;
    font-size: 50px;
    font-weight:bold;
    padding-top: 200px;
  }
  .sec-contact-content h6{
    font-size: 30px;
    font-weight: bold;
    color:gray;
    padding-top: 30px;

  }
  .sec-contact-content p{
    font-size: 30px;
    font-weight: bold;
    color:orangered;
    padding-top: 30px;  
  }
  .contact-col{
    display: flex;

  }
  .map{
    padding-left: 300px;
    padding-top: 180px;
  }
  .contact-btn{
    height: 30px;
    width: 110px;
    background-color: chartreuse; 
    border-style: none;
    font-size: 20px;
    margin-top: 10px;
  }
}
/* extra large responsive */
@media(min-width:1200px) and (max-width:1300px){
  .container{
    max-width:1140px;
    }
    .sec-contact-content h3{
      padding-top: 10px;
      font-size: 50px;
      font-weight:bold;
      padding-top: 200px;
    }
    .sec-contact-content h6{
      font-size: 30px;
      font-weight: bold;
      color:gray;
      padding-top: 30px;
  
    }
    .sec-contact-content p{
      font-size: 30px;
      font-weight: bold;
      color:orangered;
      padding-top: 30px;  
    }
    .contact-col{
      display: flex;
  
    }
    .map{
      padding-left: 300px;
      padding-top: 180px;
    }
    .contact-btn{
      height: 30px;
      width: 110px;
      background-color: chartreuse; 
      border-style: none;
      font-size: 20px;
      margin-top: 10px;
    }
  }

  .footer_main{
    background-color: #181818;
  }
  
  .footer{
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer_row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 100px;
  }
  .footer_row1 ul{
    display: flex;
  }
  .footer_row1 ul li a{
    color:gray;
  }
  .footer_logos{
    padding: 20px;
    border-radius: 50px;
    background-color: #202020;
  }
  .footer_logo2{
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer_logo4{
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer_row2{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    color: gray;
  }
  .footer_row2_col1 h4{
    font-weight: bold;
    font-size: 20px;
    color: white;
  }
  .footer_row2_col1 p{
    width: 300px;
    padding-top: 20px;
  }
  .footer_row2_col2{
    padding-bottom: 50px;
  }
  .footer_row2_col2 h4{
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
  }
  .footer_row2_col2 ul li a{
    color: gray;
    font-size: 15px;
  }
  .footer_row2_col2_li2{
    padding: 10px 0px;
  }
  .footer_row2_col2_li4{
    padding: 10px 0px;
  }
  .footer_row2_col2_li6{
    padding-top: 10px;
  }
  .footer_row2_col3 h4{
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
  }
  .footer_row2_col3 ul li a{
    color: gray;
    font-size: 15px;
  }
  .footer_row2_col3_li2{
    padding: 10px 0px;
  }
  .footer_row2_col3_li4{
    padding: 10px 0px;
  }
  .footer_row2_col3_li6{
    padding-top: 10px;
  }
  .footer_row2_col4 h4{
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
  }
  .footer_row2_col4 p{
    width: 200px;
    font-size: 15px;
    padding-bottom: 10px;
  }
  .footer_row2_col4_list1{
    display: flex;
    font-size: 15px;
    padding-bottom: 10px;
  }
  .footer_row2_col4_list1_item2{
    padding-left: 10px;
  }
  .footer_row2_col4_list2{
    display: flex;
    font-size: 15px;
    padding-bottom: 10px;
  }
  .footer_row2_col2_list2_item2{
    padding-left: 10px;
  }
  .footer_row2_col2_list2_item2 a{
    color: gray;
  }
  .footer_row2_col4_list3{
    display: flex;
    font-size: 15px;
  }
  .footer_row2_col4_list3_item2{
    padding-left: 10px;
  }
  .footer_row2_col4_list3_item2 a{
    color:gray;
  }
  .footer_row3{
    display: flex;
    padding: 50px 0px;
    color: gray;
    justify-content: center;
  }
  .footer_row3  li{
    color: white;
  }
  /* extra small screen(<576px) */
@media(max-width:575.98px){
  .container{
      max-width: 100%;
  }
  .footer_main{
      background-color: #181818;
  }
  .footer{
      padding-left: 20px;
      padding-right: 20px;
  }
  .footer_row1{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 50px;
      padding-left: 0px;
      padding-right: 0px;
  }
  .footer_row1 img{
      padding-right: 20px;
  }
  .footer_row1 ul{
      display: flex;
      padding-top: 25px;
      padding-left: 0px;
  }
  .footer_row1 ul li a{
      color: white;
  }
  .footer_logos{
      padding: 20px;
      border-radius: 50px;
      background-color: #202020;
  }
  .footer_logo2{
      padding-left: 10px;
      padding-right: 10px;
  }
  .footer_logo4{
      padding-left: 10px;
      padding-right: 10px;
  }
  .footer_row2{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 40px;
      color: white;
  }
  .footer_row2_col1 h4{
      font-weight: bold;
      font-size: 40px;
  }
  .footer_row2_col1 p{
      width: 300px;
      padding-top: 20px;
      font-size: 20px;
  }
  .footer_row2_col2{
      padding-bottom: 50px;
      padding-top: 30px;
  }
  .footer_row2_col2 h4{
      padding-bottom: 20px;
      font-size: 40px;
  }
  .footer_row2_col2 ul li a{
      color: white;
      font-size: 20px;
  }
  .footer_row2_col2_li2{
      padding: 10px 0px;
  }
  .footer_row2_col2_li4{
      padding: 10px 0px;
  }
  .footer_row2_col2_li6{
      padding-top: 10px;
  }
  .footer_row2_col3 h4{
      padding-bottom: 20px;
      font-size: 40px;
  }
  .footer_row2_col3 ul li a{
      color: white;
      font-size: 20px;
  }
  .footer_row2_col3_li2{
      padding: 10px 0px;
  }
  .footer_row2_col3_li4{
      padding: 10px 0px;
  }
  .footer_row2_col3_li6{
      padding-top: 10px;
  }
  .footer_row2_col4{
      padding-top: 40px;
      padding-bottom: 60px;
  }
  .footer_row2_col4 h4{
      padding-bottom: 20px;
      font-size: 40px;
  }
  .footer_row2_col4 p{
      width: 200px;
      font-size: 20px;
      padding-bottom: 10px;
  }
  .footer_row2_col4_list1{
      display: flex;
      font-size: 20px;
      padding-bottom: 10px;
  }
  .footer_row2_col4_list1_item2{
      padding-left: 10px;
  }
  .footer_row2_col4_list2{
      display: flex;
      font-size: 20px;
      padding-bottom: 10px;
  }
  .footer_row2_col2_list2_item2{
      padding-left: 10px;
  }
  .footer_row2_col2_list2_item2 a{
      color: white;
  }
  .footer_row2_col4_list3{
      display: flex;
      font-size: 20px;
  }
  .footer_row2_col4_list3_item2{
      padding-left: 10px;
  }
  .footer_row2_col4_list3_item2 a{
      color: white;
  }
  .footer_row3{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0px;
  }
  .footer_row3  li{
      color: white;
  }
}
/* small screen */
@media(min-width:576px) and (max-width:767.98px){
  .container{
      max-width: 540px;
  }
  .footer_main{
      background-color: #181818;
  }
  .footer{
      padding-left: 20px;
      padding-right: 20px;
  }
  .footer_row1{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 50px;
      padding-left: 0px;
      padding-right: 0px;
  }
  .footer_row1 img{
      padding-right: 20px;
  }
  .footer_row1 ul{
      display: flex;
      padding-left: 20px;
  }
  .footer_row1 ul li a{
      color: white;
  }
  .footer_logos{
      padding: 20px;
      border-radius: 50px;
      background-color: #202020;
  }
  .footer_logo2{
      padding-left: 10px;
      padding-right: 10px;
  }
  .footer_logo4{
      padding-left: 10px;
      padding-right: 10px;
  }
  .footer_row2{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 40px;
      color: white;
  }
  .footer_row2_col1 h4{
      font-weight: bold;
      font-size: 40px;
  }
  .footer_row2_col1 p{
      width: 300px;
      padding-top: 20px;
      font-size: 20px;
  }
  .footer_row2_col2{
      padding-bottom: 50px;
      padding-top: 30px;
  }
  .footer_row2_col2 h4{
      padding-bottom: 20px;
      font-size: 40px;
  }
  .footer_row2_col2 ul li a{
      color: white;
      font-size: 20px;
  }
  .footer_row2_col2_li2{
      padding: 10px 0px;
  }
  .footer_row2_col2_li4{
      padding: 10px 0px;
  }
  .footer_row2_col2_li6{
      padding-top: 10px;
  }
  .footer_row2_col3 h4{
      padding-bottom: 20px;
      font-size: 40px;
  }
  .footer_row2_col3 ul li a{
      color: white;
      font-size: 20px;
  }
  .footer_row2_col3_li2{
      padding: 10px 0px;
  }
  .footer_row2_col3_li4{
      padding: 10px 0px;
  }
  .footer_row2_col3_li6{
      padding-top: 10px;
  }
  .footer_row2_col4{
      padding-top: 40px;
      padding-bottom: 60px;
  }
  .footer_row2_col4 h4{
      padding-bottom: 20px;
      font-size: 40px;
  }
  .footer_row2_col4 p{
      width: 200px;
      font-size: 20px;
      padding-bottom: 10px;
  }
  .footer_row2_col4_list1{
      display: flex;
      font-size: 20px;
      padding-bottom: 10px;
  }
  .footer_row2_col4_list1_item2{
      padding-left: 10px;
  }
  .footer_row2_col4_list2{
      display: flex;
      font-size: 20px;
      padding-bottom: 10px;
  }
  .footer_row2_col2_list2_item2{
      padding-left: 10px;
  }
  .footer_row2_col2_list2_item2 a{
      color: white;
  }
  .footer_row2_col4_list3{
      display: flex;
      font-size: 20px;
  }
  .footer_row2_col4_list3_item2{
      padding-left: 10px;
  }
  .footer_row2_col4_list3_item2 a{
      color: white;
  }
  .footer_row3{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0px;
  }
  .footer_row3  li{
      color: white;
  }
}
/* md screen */
@media(min-width:768px) and (max-width:991.98px){
  .container{
      max-width: 720px;
  }
  .footer_main{
      background-color: #181818;
  }
  .footer{
      padding-left: 50px;
      padding-right: 50px;
  }
  .footer_row1{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 50px;
      padding-left: 0px;
      padding-right: 100px;
  }
  .footer_row1 ul{
      display: flex;
  }
  .footer_row1 ul li a{
      color: white;
  }
  .footer_logos{
      padding: 20px;
      border-radius: 50px;
      background-color: #202020;
  }
  .footer_logo2{
      padding-left: 10px;
      padding-right: 10px;
  }
  .footer_logo4{
      padding-left: 10px;
      padding-right: 10px;
  }
  .footer_row2{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
      color: white;
  }
  .footer_row2_col1 h4{
      font-weight: bold;
      font-size: 70px;
  }
  .footer_row2_col1 p{
      width: 300px;
      padding-top: 20px;
      font-size: 30px;
  }
  .footer_row2_col2{
      padding-bottom: 50px;
      padding-top: 50px;
  }
  .footer_row2_col2 h4{
      padding-bottom: 20px;
      font-size: 70px;
  }
  .footer_row2_col2 ul li a{
      color: white;
      font-size: 30px;
  }
  .footer_row2_col2_li2{
      padding: 10px 0px;
  }
  .footer_row2_col2_li4{
      padding: 10px 0px;
  }
  .footer_row2_col2_li6{
      padding-top: 10px;
  }
  .footer_row2_col3{
      padding-bottom: 40px;
      padding-right: 120px;
    
  }
  .footer_row2_col3 h4{
      padding-bottom: 20px;
      font-size: 70px;
  }
  .footer_row2_col3 ul{
      padding-left: 0px;
  }
  .footer_row2_col3 ul li a{
      color: white;
      font-size: 30px;
  }
  .footer_row2_col3_li2{
      padding: 10px 0px;
  }
  .footer_row2_col3_li4{
      padding: 10px 0px;
  }
  .footer_row2_col3_li6{
      padding-top: 10px;
  }
  .footer_row2_col4{
      padding-left: 0px;
      padding-bottom: 60px;
  }
  .footer_row2_col4 h4{
      padding-bottom: 20px;
      font-size: 70px;
  }
  .footer_row2_col4 p{
      width: 200px;
      font-size: 30px;
      padding-bottom: 10px;
  }
  .footer_row2_col4_list1{
      display: flex;
      font-size: 30px;
      padding-bottom: 10px;
  }
  .footer_row2_col4_list1_item2{
      padding-left: 10px;
  }
  .footer_row2_col4_list2{
      display: flex;
      font-size: 30px;
      padding-bottom: 10px;
  }
  .footer_row2_col2_list2_item2{
      padding-left: 10px;
  }
  .footer_row2_col2_list2_item2 a{
      color: white;
  }
  .footer_row2_col4_list3{
      display: flex;
      font-size: 30px;
  }
  .footer_row2_col4_list3_item2{
      padding-left: 10px;
  }
  .footer_row2_col4_list3_item2 a{
      color: white;
  }
  .footer_row3{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0px;
  }
  .footer_row3  li{
      color: white;
  }
}
/* large screen */
@media(min-width:992px) and (max-width:1199.98px){
  .container{
      max-width: 960px;
  }
  .footer_main{
      background-color: #181818;
      padding-top: 70px;        
  }
  .footer{
      padding-left: 50px;
      padding-right: 50px;
  }
  .footer_row1{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 50px;
      padding-left: 30px;
      padding-right: 100px;
  }
  .footer_row1 ul{
      display: flex;
  }
  .footer_row1 ul li a{
      color: white;
  }
  .footer_logos{
      padding: 20px;
      border-radius: 50px;
      background-color: #202020;
  }
  .footer_logo2{
      padding-left: 10px;
      padding-right: 10px;
  }
  .footer_logo4{
      padding-left: 10px;
      padding-right: 10px;
  }
  .footer_row2{
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      color: white;
  }
  .footer_row2_col1 h4{
      font-weight: bold;
      font-size: 30px;
  }
  .footer_row2_col1 p{
      width: 300px;
      padding-top: 20px;
  }
  .footer_row2_col2{
      padding-bottom: 50px;
  }
  .footer_row2_col2 h4{
      padding-bottom: 20px;
  }
  .footer_row2_col2 ul li a{
      color: white;
      font-size: 15px;
  }
  .footer_row2_col2_li2{
      padding: 10px 0px;
  }
  .footer_row2_col2_li4{
      padding: 10px 0px;
  }
  .footer_row2_col2_li6{
      padding-top: 10px;
  }
  .footer_row2_col3 h4{
      padding-bottom: 20px;
  }
  .footer_row2_col3 ul li a{
      color: white;
      font-size: 15px;
  }
  .footer_row2_col3_li2{
      padding: 10px 0px;
  }
  .footer_row2_col3_li4{
      padding: 10px 0px;
  }
  .footer_row2_col3_li6{
      padding-top: 10px;
  }
  .footer_row2_col4 h4{
      padding-bottom: 20px;
  }
  .footer_row2_col4 p{
      width: 200px;
      font-size: 15px;
      padding-bottom: 10px;
  }
  .footer_row2_col4_list1{
      display: flex;
      font-size: 15px;
      padding-bottom: 10px;
  }
  .footer_row2_col4_list1_item2{
      padding-left: 10px;
  }
  .footer_row2_col4_list2{
      display: flex;
      font-size: 15px;
      padding-bottom: 10px;
  }
  .footer_row2_col2_list2_item2{
      padding-left: 10px;
  }
  .footer_row2_col2_list2_item2 a{
      color: white;
  }
  .footer_row2_col4_list3{
      display: flex;
      font-size: 15px;
  }
  .footer_row2_col4_list3_item2{
      padding-left: 10px;
  }
  .footer_row2_col4_list3_item2 a{
      color: white;
  }
  .footer_row3{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0px;
  }
  .footer_row3  li{
      color: white;
  }
}
/* footer extra large responsive */
@media(min-width:1200px) and (max-width:1300px){
  .container{
    max-width:1140px;
    }
    .footer_main{
      background-color: #181818;
      padding-top: 70px;        
  }
  .footer{
      padding-left: 50px;
      padding-right: 50px;
  }
  .footer_row1{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 50px;
      padding-left: 30px;
      padding-right: 100px;
  }
  .footer_row1 ul{
      display: flex;
  }
  .footer_row1 ul li a{
      color: white;
  }
  .footer_logos{
      padding: 20px;
      border-radius: 50px;
      background-color: #202020;
  }
  .footer_logo2{
      padding-left: 10px;
      padding-right: 10px;
  }
  .footer_logo4{
      padding-left: 10px;
      padding-right: 10px;
  }
  .footer_row2{
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      color: white;
  }
  .footer_row2_col1 h4{
      font-weight: bold;
      font-size: 30px;
  }
  .footer_row2_col1 p{
      width: 300px;
      padding-top: 20px;
  }
  .footer_row2_col2{
      padding-bottom: 50px;
  }
  .footer_row2_col2 h4{
      padding-bottom: 20px;
  }
  .footer_row2_col2 ul li a{
      color: white;
      font-size: 15px;
  }
  .footer_row2_col2_li2{
      padding: 10px 0px;
  }
  .footer_row2_col2_li4{
      padding: 10px 0px;
  }
  .footer_row2_col2_li6{
      padding-top: 10px;
  }
  .footer_row2_col3 h4{
      padding-bottom: 20px;
  }
  .footer_row2_col3 ul li a{
      color: white;
      font-size: 15px;
  }
  .footer_row2_col3_li2{
      padding: 10px 0px;
  }
  .footer_row2_col3_li4{
      padding: 10px 0px;
  }
  .footer_row2_col3_li6{
      padding-top: 10px;
  }
  .footer_row2_col4 h4{
      padding-bottom: 20px;
  }
  .footer_row2_col4 p{
      width: 200px;
      font-size: 15px;
      padding-bottom: 10px;
  }
  .footer_row2_col4_list1{
      display: flex;
      font-size: 15px;
      padding-bottom: 10px;
  }
  .footer_row2_col4_list1_item2{
      padding-left: 10px;
  }
  .footer_row2_col4_list2{
      display: flex;
      font-size: 15px;
      padding-bottom: 10px;
  }
  .footer_row2_col2_list2_item2{
      padding-left: 10px;
  }
  .footer_row2_col2_list2_item2 a{
      color: white;
  }
  .footer_row2_col4_list3{
      display: flex;
      font-size: 15px;
  }
  .footer_row2_col4_list3_item2{
      padding-left: 10px;
  }
  .footer_row2_col4_list3_item2 a{
      color: white;
  }
  .footer_row3{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0px;
  }
  .footer_row3  li{
      color: white;
  }
}
  